<div class="wrapper">
    <div class="trigger site-navigation">
        <a class="page-link" href="/{{page.category}}">HOME</a>

        {% if page.category == "en" %}
        <a class="site-language" href="{{page.id | replace_first: "en", "zh"}}">中文</a>
        {% endif %}
        {% if page.category == "zh" %}
        <a class="site-language" href="{{page.id | replace_first: "zh", "en"}}">ENGLISH</a>
        {% endif %}

        {% for sitePage in site.pages %}
        {% if sitePage.title %}

        <span class="exclamationMark">/</span><a class="page-link" href="{{sitePage.url | prepend: site.baseurl }}">{{sitePage.title}}</a>
        {% endif %}
        {% endfor %}
    </div>
</div>
